step-functions/populate-session-table.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Create counter",
  "States": {
    "Create counter": {
      "Type": "Pass",
      "Next": "Count > Amount",
      "Result": {
        "counter": 0
      }
    },
    "Count > Amount": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.counter",
          "NumericGreaterThanEqualsPath": "$$.Execution.Input.amount",
          "Next": "Finished creating records"
        }
      ],
      "Default": "Insert test entry into session table"
    },
    "Finished creating records": {
      "Type": "Succeed"
    },
    "Insert test entry into session table": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "${SessionTable}",
        "Item": {
          "sessionId": {
            "S.$": "States.UUID()"
          },
          "expiryDate": {
            "N": "7200"
          },
          "addresses": {
            "L": [
              {
                "M": {
                  "addressLocality": {
                    "S": "BATH"
                  },
                  "buildingNumber": {
                    "S": "8"
                  },
                  "postalCode": {
                    "S": "BA2 5AA"
                  },
                  "streetName": {
                    "S": "HADLEY ROAD"
                  },
                  "validFrom": {
                    "S": "2021-01-01"
                  }
                }
              }
            ]
          },
          "birthDates": {
            "L": [
              {
                "M": {
                  "value": {
                    "S": "1965-07-08"
                  }
                }
              }
            ]
          },
          "names": {
            "L": [
              {
                "M": {
                  "nameParts": {
                    "L": [
                      {
                        "M": {
                          "type": {
                            "S": "GivenName"
                          },
                          "value": {
                            "S": "KENNETH"
                          }
                        }
                      },
                      {
                        "M": {
                          "type": {
                            "S": "FamilyName"
                          },
                          "value": {
                            "S": "DECERQUEIRA"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            ]
          }
        }
      },
      "Next": "Increment counter",
      "ResultPath": null
    },
    "Increment counter": {
      "Type": "Pass",
      "Parameters": {
        "counter.$": "States.MathAdd($.counter, 1)"
      },
      "Next": "Count > Amount"
    }
  }
}
